header {

		color: #fff;
	h1{
		margin: 0 auto;
		padding: 2rem 0 7rem;
		font-size: 8rem;
		text-align: center;
		font-family: "Playfair Display";
		font-weight: 900;
		letter-spacing: 0.4rem;
@media (max-width: 565px){
	font-size: 6rem;
}
@media (max-width: 565px){
	font-size: 4.5rem;
}

	}	
}



