.loader {
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 100vh;
    top: 0;
    background: linear-gradient(#9D5EFF, #614487); 

    img {
    	position: absolute;
    	max-width: 10%;
    	margin-left: 45%;
    	margin-top: 25%;
    	transform: translateX(-50%);
    	animation : spin 2s linear infinite;

    	@keyframes spin { 
    		from {transform: rotate(0deg);}
  			to {transform: rotate(360deg);}
  		}
	}
    @media (max-width: 400px){
        img {
            max-width: 25%;
            margin-top: 65%;
            margin-left: 40%;
            transform: translateX(-50%);
        }
    }
}